.main{
   display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    box-sizing:content-box;
    gap: 1rem;
}

.action{
    display: flex;
    justify-content: space-between;
}


.price{
    color: chocolate;
}