.card{
    width: 650px;
    height: 250px;
    color: white;
    background-color: rgb(48, 53, 53);
    align-content: center;
    border-radius: 2%;
    margin: auto;
    padding: 20px;
}
.card h2{
    text-align: center;
}

.card p{
    text-align: center;
}
